<html>
    <head>
        <title>CHIA</title>
    </head>
  <body>
        <div>
            <h1><a href="/">CHIA | Colombianas Haciendo Investigación en Astrociencias</a></h1>
        </div>

        <div>
            <p>published: 07.08.2021, 15:05</p>
            <h2><a href="">¿Quienes somos?</a></h2>
            <p>Somos una Asociación voluntaria de profesionales colombianas(os) en el área de la Astrofísica y ciencias del Universo, que propende por la equidad de género y la inclusión en el ejercicio de la investigación en esta área. Esta red tiene un propósito logístico en la organización de diferentes proyectos, eventos y actividades que motiven a nuevas generaciones de Astrofísicas colombianas. Así mismo, se propicia el crecimiento profesional de sus miembros a través de colaboraciones y acceso a información sobre múltiples oportunidades.</p>
        </div>

        <div>
            <p></p>
            <h2><a href="">Misión</a></h2>
            <p>Nuestra misión es alcanzar más mentes talentosas en Colombia que se atrevan a tomar el reto de develar los secretos que están detrás de la belleza del cielo nocturno, y visibilizar el trabajo de las mujeres astrónomas en Colombia,  para así promover la equidad de género y apoyar la capacitación de las investigadoras jóvenes.</p>
        </div>
    </body>
</html>
